[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
aiokafka = "*"
apache-airflow = "*"
minio = "*"
opencv-contrib-python = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.8"
